[user]
	name = Harsha Somisetty
	email = harshasomisetty7@gmail.com

[alias]
    tr = log --oneline --decorate --all --graph
	st = status
	ci = commit
	br = branch
	co = checkout
    sn = start next
    vv = verify
    ps = push
    pl = pull
    re = rebase
	amo = !git add -A && git commit --amend --no-edit
    cl = fetch --prune origin
    sh = stash
    si = switch

[credential]
	helper = osxkeychain

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[core]
	editor = vim
[rerere]
	enabled = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
